# macOS
.DS_Store

# IntelliJ
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Yarn, tsc, node or turbo
yarn.lock
**/yarn.lock

.nvmrc
**/node_modules

package-lock.json

*.tsbuildinfo
**/dist
**/dist-types

.turbo
