# macOS
.DS_Store

# IntelliJ
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Yarn
yarn.lock
package-lock.json
*.tsbuildinfo

# NodeJS Dependencies
**/node_modules
**/dist
**/dist-types
**/yarn.lock

# Node version directives
.nvmrc